<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @card.title %>
</p>

<p>
  <strong>Symptoms:</strong>
  <%= @card.symptoms %>
</p>

<p>
  <strong>Medications:</strong>
  <%= @card.medications %>
</p>

<p>
  <strong>Date:</strong>
  <%= @card.date %>
</p>

<p>
  <strong>Doctor:</strong>
  <%= @card.doctor %>
</p>

<p>
  <strong>Color:</strong>
  <%= @card.color %>
</p>

<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
