<!DOCTYPE html>
<html ng-app="medicalBook">
<head>
  <title>BabyHealth</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body ng-controller="AppCtrl">

<% if session[:user_id] %>
  <% user = User.find(session[:user_id]) %>
  <%= user.facebook_info.name %>
  <%= image_tag user.facebook_info.image %>
<% end %>

<%= yield %>

</body>
</html>
